<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhulala.springboot.transcation.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wuhulala.springboot.transcation.model.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String" flushCache="true" useCache="false">
    select * from user where name  = #{name}
  </select>
  <update id="updateByName" flushCache="true" parameterType="com.wuhulala.springboot.transcation.model.User" >
    update user set remark = #{remark} where name = #{name}
  </update>
</mapper>